#main-nav {
  background-color: rgb(255, 255, 255) !important;
  padding: 0px;
  padding-right: 10px;
  height: fit-content;
}

#nav-bar-logo {
  height: 40px;
  margin-left: 10px;
  margin-top: 5px;
  padding: 0px;
}

#logo-anchor {
  padding: 0px;
  margin: 0px;
  /* float: left; */
}

#logout-navbar-nav {
  /* background-color: red; */
  width: 10%;
  background-color: white;
  /* margin: 10px; */
}

#toggle-switch {
  margin-left: 20px;
  height: 50px;
  /* margin-top: 20px; */
  /* float: right; */
  /* padding-top: 20px; */
  display: inline-block;
  padding-top: 15px;
}

.navbar-right-content {
  text-decoration: none;
  color: black;
  margin-right: 30px;
  margin: 10px;
}

.navBar-username {
  float: right;
  margin-right: 30px;
}

.back {
  background-color: lightgray;
  overflow: hidden;
}

